.table td, th {
	text-align: center;
}

.table td, th{
border-top: #a78a64 solid 1px !important;
border-bottom: #a78a64 solid 1px !important;
}

button {
background-color: #6a6bba !important;
border-color: #676791 !important;
}

a {
	color: #6a6bba;
}
a:visited {
	color: #648978;
}
body {
	background-color: #e8d8c3;
}

/**nav {
	background: #a78a64;
}*/

img.hover-shadow {
	transition: 0.3s
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}